/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    grid-area: header;
    background-color: #25527B;
    color: white;
    text-align: center;
    padding: 10px;
}

menu{
    grid-area: menu;
    background-color: #e7e7e7;
    padding: 25px;
    min-height: 77vh;
}

menu ul{
    list-style: none;
    padding-top: 10px;
}

menu ul .item{
    display: flex;
    gap: 5px;
}

menu ul p{
    color: grey;
}

main{
    grid-area: main;
    background-color: #e7e7e7;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 23px;
    padding: 20px;
}

main .card{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 390px;
    background-color: white;
}

main .card img{
    width: 390px;
}

#zapatos{
    padding-top: 35.5%;
}

main .card h3{
    padding-top: 10px;
    color: #25527B;
}

main .card p{
    padding: 10px;
    color: #25527B;
}

main .card button{
    width: 100%;
    background-color: #25527B;
    border: none;
    color: white;
    padding: 7px;
}

footer{
    grid-area: footer;
    text-align: center;
    padding: 10px;
    color: #25527B;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "menu main main main"
    "footer footer footer footer";

}




